<%- include('partials/header', {title:"Green Screen: High Scores"}) -%>

<h2>Leaderboard</h2>
<table>
  <tr>
    <th>
      User
    </th>
    <th>
      Rarest
    </th>
    <th>
      Collection Size
    </th>
  </tr>
  <tr>
  <%for(let i =0; i<users.length; i++){%>
  <th>
    <a href="/user/<%=users[i].username%>"><%=users[i].username%></a>
  </th>
  <th>
    <%=users[i].rarest.name%>
  </th>
  <th>
    <%=users[i].collection.length%>
  </th>
  </tr>
  <%}%>
</table>

  <%- include('partials/footer') -%>
